border-1px($color)
  position relative
  &:after
    display block
    width 100%
    position absolute
    left 0
    bottom 0
    border-top 1px solid $color
    content: " "



bg-img($url)
  background url($url+'@2x.png') no-repeat 50% 50%
  background-size cover
